*{
  user-select: none;
  margin: 0;
  padding: 0;
}

#img{
  width: 170px;
  margin-bottom: 12px;
  /* position: relative; */
  /* align-self: center; */
}

#btn{
  margin-left: 8px;
}

/* section result */
.result{
  width: 96%;
  padding: 2%;
  margin: 2%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 100px;
  line-height: 1;
  border-top: 0.5px solid black;
  border-bottom: 0.5 solid black;
  box-shadow: 10px 10px 5px 5px gray;
  border-left: 5px solid red; 
  height: 90%;
  
}

dd{
  font-family: Arial, Helvetica, sans-serif;
} 

.logo{
  width: 120px;
  border-radius: 20%;
  float: right;
}

#description{
  width: 70%;
}

.tp{
  margin-top: 5px;
  display: none;
}

#title{
  margin-right: 90px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#download{
  position: relative;
  bottom: 20px;
  width: 110px;
}

.footer{
  background-color: darkblue;
  color: white;
  height: 30px;
  text-align: center;
  margin-top: 200px;
  bottom:0;
  width:100%;
}

#search{
  margin: 1%;
}

#input{
  margin-bottom: 10px;
}