*{
  user-select: none;
  margin: 0;
  padding: 0;
}

#input{
  display: inline;
  width: 70%;
  padding-right: 0;
  margin-top: 10px;
  position: relative;
}

.img{
  width: 170px;
  position: relative;
}

#btn{
  display: inline;
  margin-left: 8px;
}

/* section result */
.result{
  width: 96%;
  padding: 2%;
  margin: 2%;
  text-align: left;
  margin-top: 5px;
  line-height: 1.5;
  border-top: 0.5px solid black;
  border-bottom: 0.5 solid black;
  box-shadow: 10px 10px 5px 5px gray;
  border-left: 5px solid red; 
  height: 90%;
}

dd{
  font-family: Arial, Helvetica, sans-serif;
} 

.logo{
  width: 120px;
  border-radius: 20%;
  float: right;
  /* margin-bottom: 5px;
  padding-bottom: 5px; */
  /* margin-right: 10px; */
}

#description{
  width: 70%;
}

.tp{
  margin-top: 5px;
  display: none;
}

#title{
  margin-right: 90px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#download{
  position: relative;
  bottom: 20px;
  width: 110px;
}

#top{
  margin: 1%;
  padding: 1%;
}

.footer{
  background-color: darkblue;
  color: white;
  height: 30px;
  text-align: center;
}
